[submodule "themes/dark_rainbow"]
	path = themes/dark_rainbow
	url = https://github.com/tylerbutler/dark_rainbow_hugo.git
[submodule "themes/taketwo"]
	path = themes/taketwo
	url = https://github.com/tylerbutler/taketwo_theme.git
