{{ define "page_title" }}Archives{{ end }}

{{ define "nav_secondary" }}
    <!-- Omitted intentionally. -->
{{ end }}

{{ define "section_main_class" }}
    {{ super() }} archives
{{ end }}

{{ define "header_secondary_h1_class" }}small-12 columns{{ end }}

{{ define "header_secondary_title" }}
    {{ .Title }}
{{ end }}

{{ define "section_main_content" }}
    {% for year, posts in post_list|groupby('timestamp.year')|sort(reverse=True, attribute='grouper') %}
        <div class="row">
            <div class="small-12 medium-2 columns"><h2><a name="{{ year }}"></a>{{ year }}</h2></div>
            <div class="small-12 medium-10 columns">
                {% for post in posts %}
                    <article class="row">
                        <div class="medium-2 small-3 columns post-date">
                            {{ post.timestamp_local|date('%d %b') }}
                        </div>
                        <div class="medium-10 small-9 columns">
                            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    {{ end }}
{{ end }}

{{ define "section_sidebar_content" }}
    <section>
        <nav>
            <ul>
                <!-- {% for year, posts in post_list|groupby('timestamp.year')|sort(reverse=True, attribute='grouper') %} -->
                    <li><a href="#{{ year }}">{{ year }}</a></li>
                <!-- {{ end }} -->
            </ul>
        </nav>
    </section>
{{ end }}
